<div class="container">
    <h1>DashBoard ProductHunt</h1>
    <h4>Recherche</h4>
    <div class="form-group">
        <label>Sélectionner une date:</label>
        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <input ng-change="vm.getPostsByDate()" type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.popup.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
        </div>
    </div>
    <!--<pre>{{vm.dt}}</pre>
    <pre>{{vm.data|json}}</pre>-->
    <h4>Liste des posts à la date choisie:</h4>
    <nvd3 options="vm.options" data="vm.data"></nvd3>
    <div ng-if="vm.detail != undefined">
        <h4>{{vm.detail.post.name}}</h4>
        <div class="row">
            <div class="col-sm">Nombre de commentaires: {{vm.detail.post.comments_count}}</div>
        </div>
        <div class="row">
            <div class="col-sm">Tagline: {{vm.detail.post.tagline}}</div>
        </div>
        <div class="row">
            <div class="col-sm">Slug: {{vm.detail.post.slug}}</div>
        </div>
        <div class="row">
            <div class="col-sm">Nombre de votes: {{vm.detail.post.votes_count}}</div>
        </div>
    </div>
</div>